$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

:root {
    --grey-100: #f8f9fa;
    --grey-200: #e9ecef;
    --grey-300: #dee2e6;
    --grey-400: #ced4da;
    --grey-500: #adb5bd;
    --grey-600: #6c757d;
    --grey-700: #495057;
    --grey-800: #343a40;
    --grey-900: #212529;
}

.btn {
    &.icon{
        padding-left: 4px;
        padding-right: 4px;
        font-size: 18px;
    }

    &.top {
        display: inline-flex;
        align-items: center;
        padding: 8px;
        color: var(--grey-700);
        border: 0px;
        background-color: transparent;
        border-radius: 15px;
        font-size: 16px;

        &:hover {
            background-color: var(--grey-100);
            color: var(--grey-900);
        }
    }
}