<div class="layout-topbar">
    <div class="layout-topbar-logo">
        <img src="assets/layout/images/cabin.png" alt="logo" />
        <span>LogsHut</span>
    </div>

    <button class="btn top" routerLink="/dashboard">
        <i class="btn icon pi pi-desktop"></i>
        <div *ngIf="layoutService.isDesktop()" class="font-bold">Dashboard</div>
    </button>

    <button class="btn top" routerLink="/">
        <i class="btn icon pi pi-eye"></i>
        <span *ngIf="layoutService.isDesktop()" class="font-bold">Live View</span>
    </button>

    <!-- <button class="p-link layout-topbar-button">
        <i class="pi pi-search"></i>
        <span *ngIf="!isScreenSmall" class="font-bold">Search</span>
    </button> -->

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- LiveView - Play Pause Button -->
        <button *ngIf="transferService.isLivePage()" class="p-link layout-topbar-button"
            (click)="transferService.toogleLivePooling()">
            <i class="pi"
                [ngClass]="{'pi-play': !transferService.isLiveRunning(), 'pi-pause': transferService.isLiveRunning() }"></i>
            <span>Calendar</span>
        </button>

        <!-- Dark Mode Button -->
        <button class="p-link layout-topbar-button" (click)="layoutService.toggleDarkMode()">
            <i class="pi"
                [ngClass]="{'pi-moon': !layoutService.isDarkModeActive, 'pi-sun': layoutService.isDarkModeActive}"></i>
            <span>Dark Mode</span>
        </button>

        <!-- Dark Mode Button -->
        <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Calendar</span>
        </button>
    </div>
</div>